p {
  font-weight: 200;
}
h2 {
  font-weight: 400;
}
h1 {
  font-weight: 600;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}
.bg-overlay {
  background: linear-gradient(rgba(75, 75, 93, 0.85), rgb(85, 82, 73)),
    url(./esmt.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 100vh;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(151, 130, 130, 0.918);
}
